/* Light theme */
/** Common */
#mermaid .label, #mermaid {
    font-family: "trebuchet ms", arial, sans-serif;
    font-size: 16px;
    fill: #333;
}

#mermaid .error-icon {
    fill: #552222;
}

#mermaid .error-text {
    fill: #552222;
    stroke: #552222;
}

#mermaid .edge-thickness-normal {
    stroke-width: 2px;
}

#mermaid .edge-thickness-thick {
    stroke-width: 3.5px;
}

#mermaid .edge-pattern-solid {
    stroke-dasharray: 0;
}

#mermaid .edge-pattern-dashed {
    stroke-dasharray: 3;
}

#mermaid .edge-pattern-dotted {
    stroke-dasharray: 2;
}

#mermaid .marker {
    fill: #333333;
    stroke: #333333;
}

#mermaid .marker.cross {
    stroke: #333333;
}

#mermaid {
    max-width: 100%;
}

/** Flowchart */
#mermaid .cluster-label text {
    fill: #333;
}

#mermaid .cluster-label span {
    color: #333;
}

#mermaid .label text, #mermaid span {
    fill: #333;
    color: #333;
}

#mermaid .node rect, #mermaid .node circle, #mermaid .node ellipse, #mermaid .node polygon, #mermaid .node path {
    fill: #ECECFF;
    stroke: #9370DB;
    stroke-width: 1px;
}

#mermaid .node .label {
    text-align: center;
}

#mermaid .node.clickable {
    cursor: pointer;
}

#mermaid .arrowheadPath {
    fill: #333333;
}

#mermaid .edgePath .path {
    stroke: #333333;
    stroke-width: 2.0px;
}

#mermaid .flowchart-link {
    stroke: #333333;
    fill: none;
}

#mermaid .edgeLabel {
    background-color: #e8e8e8;
    text-align: center;
}

#mermaid .edgeLabel rect {
    opacity: 0.5;
    background-color: #e8e8e8;
    fill: #e8e8e8;
}

#mermaid .cluster rect {
    fill: #ffffde;
    stroke: #aaaa33;
    stroke-width: 1px;
}

#mermaid .cluster text {
    fill: #333;
}

#mermaid .cluster span {
    color: #333;
}

#mermaid div.mermaidTooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    padding: 2px;
    font-size: 12px;
    background: hsl(80, 100%, 96.2745098039%);
    border: 1px solid #aaaa33;
    border-radius: 2px;
    pointer-events: none;
    z-index: 100;
}

/** Sequence diagram */
#mermaid .actor {
    stroke: hsl(259.6261682243, 59.7765363128%, 87.9019607843%);
    fill: #ECECFF;
}

#mermaid text.actor > tspan {
    fill: black;
    stroke: none;
}

#mermaid .actor-line {
    stroke: grey;
}

#mermaid .messageLine0 {
    stroke-width: 1.5;
    stroke-dasharray: none;
    stroke: #333;
}

#mermaid .messageLine1 {
    stroke-width: 1.5;
    stroke-dasharray: 2, 2;
    stroke: #333;
}

#mermaid #arrowhead path {
    fill: #333;
    stroke: #333;
}

#mermaid .sequenceNumber {
    fill: white;
}

#mermaid #sequencenumber {
    fill: #333;
}

#mermaid #crosshead path {
    fill: #333;
    stroke: #333;
}

#mermaid .messageText {
    fill: #333;
    stroke: none;
}

#mermaid .labelBox {
    stroke: hsl(259.6261682243, 59.7765363128%, 87.9019607843%);
    fill: #ECECFF;
}

#mermaid .labelText, #mermaid .labelText > tspan {
    fill: black;
    stroke: none;
}

#mermaid .loopText, #mermaid .loopText > tspan {
    fill: black;
    stroke: none;
}

#mermaid .loopLine {
    stroke-width: 2px;
    stroke-dasharray: 2, 2;
    stroke: hsl(259.6261682243, 59.7765363128%, 87.9019607843%);
    fill: hsl(259.6261682243, 59.7765363128%, 87.9019607843%);
}

#mermaid .note {
    stroke: #aaaa33;
    fill: #fff5ad;
}

#mermaid .noteText, #mermaid .noteText > tspan {
    fill: black;
    stroke: none;
}

#mermaid .activation0 {
    fill: #f4f4f4;
    stroke: #666;
}

#mermaid .activation1 {
    fill: #f4f4f4;
    stroke: #666;
}

#mermaid .activation2 {
    fill: #f4f4f4;
    stroke: #666;
}

#mermaid .actorPopupMenu {
    position: absolute;
}

#mermaid .actorPopupMenuPanel {
    position: absolute;
    fill: #ECECFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#mermaid .actor-man line {
    stroke: hsl(259.6261682243, 59.7765363128%, 87.9019607843%);
    fill: #ECECFF;
}

#mermaid .actor-man circle, #mermaid line {
    stroke: hsl(259.6261682243, 59.7765363128%, 87.9019607843%);
    fill: #ECECFF;
    stroke-width: 2px;
}

/** Gantt */
#mermaid .exclude-range {
    fill: #eeeeee;
}

#mermaid .section {
    stroke: none;
    opacity: 0.2;
}

#mermaid .section0 {
    fill: rgba(102, 102, 255, 0.49);
}

#mermaid .section2 {
    fill: #fff400;
}

#mermaid .section1, #mermaid .section3 {
    fill: white;
    opacity: 0.2;
}

#mermaid .sectionTitle0 {
    fill: #333;
}

#mermaid .sectionTitle1 {
    fill: #333;
}

#mermaid .sectionTitle2 {
    fill: #333;
}

#mermaid .sectionTitle3 {
    fill: #333;
}

#mermaid .sectionTitle {
    text-anchor: start;
}

#mermaid .grid .tick {
    stroke: lightgrey;
    opacity: 0.8;
    shape-rendering: crispEdges;
}

#mermaid .grid .tick text {
    fill: #333;
}

#mermaid .grid path {
    stroke-width: 0;
}

#mermaid .today {
    fill: none;
    stroke: red;
    stroke-width: 2px;
}

#mermaid .task {
    stroke-width: 2;
}

#mermaid .taskText {
    text-anchor: middle;
}

#mermaid .taskTextOutsideRight {
    fill: black;
    text-anchor: start;
}

#mermaid .taskTextOutsideLeft {
    fill: black;
    text-anchor: end;
}

#mermaid .task.clickable {
    cursor: pointer;
}

#mermaid .taskText.clickable {
    cursor: pointer;
    fill: #003163 !important;
    font-weight: bold;
}

#mermaid .taskTextOutsideLeft.clickable {
    cursor: pointer;
    fill: #003163 !important;
    font-weight: bold;
}

#mermaid .taskTextOutsideRight.clickable {
    cursor: pointer;
    fill: #003163 !important;
    font-weight: bold;
}

#mermaid .taskText0, #mermaid .taskText1, #mermaid .taskText2, #mermaid .taskText3 {
    fill: white;
}

#mermaid .task0, #mermaid .task1, #mermaid .task2, #mermaid .task3 {
    fill: #8a90dd;
    stroke: #534fbc;
}

#mermaid .taskTextOutside0, #mermaid .taskTextOutside2 {
    fill: black;
}

#mermaid .taskTextOutside1, #mermaid .taskTextOutside3 {
    fill: black;
}

#mermaid .active0, #mermaid .active1, #mermaid .active2, #mermaid .active3 {
    fill: #bfc7ff;
    stroke: #534fbc;
}

#mermaid .activeText0, #mermaid .activeText1, #mermaid .activeText2, #mermaid .activeText3 {
    fill: black !important;
}

#mermaid .done0, #mermaid .done1, #mermaid .done2, #mermaid .done3 {
    stroke: grey;
    fill: lightgrey;
    stroke-width: 2;
}

#mermaid .doneText0, #mermaid .doneText1, #mermaid .doneText2, #mermaid .doneText3 {
    fill: black !important;
}

#mermaid .crit0, #mermaid .crit1, #mermaid .crit2, #mermaid .crit3 {
    stroke: #ff8888;
    fill: red;
    stroke-width: 2;
}

#mermaid .activeCrit0, #mermaid .activeCrit1, #mermaid .activeCrit2, #mermaid .activeCrit3 {
    stroke: #ff8888;
    fill: #bfc7ff;
    stroke-width: 2;
}

#mermaid .doneCrit0, #mermaid .doneCrit1, #mermaid .doneCrit2, #mermaid .doneCrit3 {
    stroke: #ff8888;
    fill: lightgrey;
    stroke-width: 2;
    cursor: pointer;
    shape-rendering: crispEdges;
}

#mermaid .milestone {
    transform: rotate(45deg) scale(0.8, 0.8);
}

#mermaid .milestoneText {
    font-style: italic;
}

#mermaid .doneCritText0, #mermaid .doneCritText1, #mermaid .doneCritText2, #mermaid .doneCritText3 {
    fill: black !important;
}

#mermaid .activeCritText0, #mermaid .activeCritText1, #mermaid .activeCritText2, #mermaid .activeCritText3 {
    fill: black !important;
}

#mermaid .titleText {
    text-anchor: middle;
    font-size: 18px;
    fill: #333;
}

/** Class diagram */
#mermaid g.classGroup text {
    fill: #9370DB;
    fill: #131300;
    stroke: none;
    font-size: 10px;
}

#mermaid g.classGroup text .title {
    font-weight: bolder;
}

#mermaid .nodeLabel, #mermaid .edgeLabel {
    color: #131300;
}

#mermaid .edgeLabel .label rect {
    fill: #ECECFF;
}

#mermaid .label text {
    fill: #131300;
}

#mermaid .edgeLabel .label span {
    background: #ECECFF;
}

#mermaid .classTitle {
    font-weight: bolder;
}

#mermaid .node rect, #mermaid .node circle, #mermaid .node ellipse, #mermaid .node polygon, #mermaid .node path {
    fill: #ECECFF;
    stroke: #9370DB;
    stroke-width: 1px;
}

#mermaid .divider {
    stroke: #9370DB;
    stroke: 1;
}

#mermaid g.clickable {
    cursor: pointer;
}

#mermaid g.classGroup rect {
    fill: #ECECFF;
    stroke: #9370DB;
}

#mermaid g.classGroup line {
    stroke: #9370DB;
    stroke-width: 1;
}

#mermaid .classLabel .box {
    stroke: none;
    stroke-width: 0;
    fill: #ECECFF;
    opacity: 0.5;
}

#mermaid .classLabel .label {
    fill: #9370DB;
    font-size: 10px;
}

#mermaid .relation {
    stroke: #333333;
    stroke-width: 1;
    fill: none;
}

#mermaid .dashed-line {
    stroke-dasharray: 3;
}

#mermaid #compositionStart, #mermaid .composition {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#mermaid #compositionEnd, #mermaid .composition {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#mermaid #dependencyStart, #mermaid .dependency {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#mermaid #dependencyStart, #mermaid .dependency {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#mermaid #extensionStart, #mermaid .extension {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#mermaid #extensionEnd, #mermaid .extension {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#mermaid #aggregationStart, #mermaid .aggregation {
    fill: #ECECFF !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#mermaid #aggregationEnd, #mermaid .aggregation {
    fill: #ECECFF !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#mermaid #lollipopStart, #mermaid .lollipop {
    fill: #ECECFF !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#mermaid #lollipopEnd, #mermaid .lollipop {
    fill: #ECECFF !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#mermaid .edgeTerminals {
    font-size: 11px;
}

/** Git graph */
#mermaid .commit-id, #mermaid .commit-msg {
    fill: lightgrey;
}

#mermaid .commit0 {
    stroke: hsl(240, 100%, 46.2745098039%);
    fill: hsl(240, 100%, 46.2745098039%);
}

#mermaid .commit-highlight0 {
    stroke: hsl(60, 100%, 3.7254901961%);
    fill: hsl(60, 100%, 3.7254901961%);
}

#mermaid .label0 {
    fill: hsl(240, 100%, 46.2745098039%);
}

#mermaid .arrow0 {
    stroke: hsl(240, 100%, 46.2745098039%);
}

#mermaid .branch-label1 {
    fill: black;
}

#mermaid .commit1 {
    stroke: hsl(60, 100%, 43.5294117647%);
    fill: hsl(60, 100%, 43.5294117647%);
}

#mermaid .commit-highlight1 {
    stroke: rgb(0, 0, 160.5);
    fill: rgb(0, 0, 160.5);
}

#mermaid .label1 {
    fill: hsl(60, 100%, 43.5294117647%);
}

#mermaid .arrow1 {
    stroke: hsl(60, 100%, 43.5294117647%);
}

#mermaid .branch-label2 {
    fill: black;
}

#mermaid .commit2 {
    stroke: hsl(80, 100%, 46.2745098039%);
    fill: hsl(80, 100%, 46.2745098039%);
}

#mermaid .commit-highlight2 {
    stroke: rgb(48.8333333334, 0, 146.5000000001);
    fill: rgb(48.8333333334, 0, 146.5000000001);
}

#mermaid .label2 {
    fill: hsl(80, 100%, 46.2745098039%);
}

#mermaid .arrow2 {
    stroke: hsl(80, 100%, 46.2745098039%);
}

#mermaid .branch-label3 {
    fill: #ffffff;
}

#mermaid .commit3 {
    stroke: hsl(210, 100%, 46.2745098039%);
    fill: hsl(210, 100%, 46.2745098039%);
}

#mermaid .commit-highlight3 {
    stroke: rgb(146.5000000001, 73.2500000001, 0);
    fill: rgb(146.5000000001, 73.2500000001, 0);
}

#mermaid .label3 {
    fill: hsl(210, 100%, 46.2745098039%);
}

#mermaid .arrow3 {
    stroke: hsl(210, 100%, 46.2745098039%);
}

#mermaid .branch-label4 {
    fill: black;
}

#mermaid .commit4 {
    stroke: hsl(180, 100%, 46.2745098039%);
    fill: hsl(180, 100%, 46.2745098039%);
}

#mermaid .commit-highlight4 {
    stroke: rgb(146.5000000001, 0, 0);
    fill: rgb(146.5000000001, 0, 0);
}

#mermaid .label4 {
    fill: hsl(180, 100%, 46.2745098039%);
}

#mermaid .arrow4 {
    stroke: hsl(180, 100%, 46.2745098039%);
}

#mermaid .branch-label5 {
    fill: black;
}

#mermaid .commit5 {
    stroke: hsl(150, 100%, 46.2745098039%);
    fill: hsl(150, 100%, 46.2745098039%);
}

#mermaid .commit-highlight5 {
    stroke: rgb(146.5000000001, 0, 73.2500000001);
    fill: rgb(146.5000000001, 0, 73.2500000001);
}

#mermaid .label5 {
    fill: hsl(150, 100%, 46.2745098039%);
}

#mermaid .arrow5 {
    stroke: hsl(150, 100%, 46.2745098039%);
}

#mermaid .branch-label6 {
    fill: black;
}

#mermaid .commit6 {
    stroke: hsl(300, 100%, 46.2745098039%);
    fill: hsl(300, 100%, 46.2745098039%);
}

#mermaid .commit-highlight6 {
    stroke: rgb(0, 146.5000000001, 0);
    fill: rgb(0, 146.5000000001, 0);
}

#mermaid .label6 {
    fill: hsl(300, 100%, 46.2745098039%);
}

#mermaid .arrow6 {
    stroke: hsl(300, 100%, 46.2745098039%);
}

#mermaid .branch-label7 {
    fill: black;
}

#mermaid .commit7 {
    stroke: hsl(0, 100%, 46.2745098039%);
    fill: hsl(0, 100%, 46.2745098039%);
}

#mermaid .commit-highlight7 {
    stroke: rgb(0, 146.5000000001, 146.5000000001);
    fill: rgb(0, 146.5000000001, 146.5000000001);
}

#mermaid .label7 {
    fill: hsl(0, 100%, 46.2745098039%);
}

#mermaid .arrow7 {
    stroke: hsl(0, 100%, 46.2745098039%);
}

#mermaid .branch {
    stroke-width: 1;
    stroke: #333333;
    stroke-dasharray: 2;
}

#mermaid .commit-label {
    font-size: 10px;
    fill: #000021;
}

#mermaid .commit-label-bkg {
    font-size: 10px;
    fill: #ffffde;
    opacity: 0.5;
}

#mermaid .tag-label {
    font-size: 10px;
    fill: #131300;
}

#mermaid .tag-label-bkg {
    fill: #ECECFF;
    stroke: hsl(240, 60%, 86.2745098039%);
}

#mermaid .tag-hole {
    fill: #333;
}

#mermaid .commit-merge {
    stroke: #ECECFF;
    fill: #ECECFF;
}

#mermaid .commit-reverse {
    stroke: #ECECFF;
    fill: #ECECFF;
    stroke-width: 3;
}

#mermaid .commit-highlight-inner {
    stroke: #ECECFF;
    fill: #ECECFF;
}

#mermaid .arrow {
    stroke-width: 8;
    stroke-linecap: round;
    fill: none;
}

#mermaid .branchLabel .label {
    font-size: 16px;
}

#mermaid g.label.branch-label0 text, #mermaid g.label.branch-label3 text {
    fill: #eee;
}

/** Entity relationship */
#mermaid .entityBox {
    fill: #ECECFF;
    stroke: #9370DB;
}

#mermaid .attributeBoxOdd {
    fill: #ffffff;
    stroke: #9370DB;
}

#mermaid .attributeBoxEven {
    fill: #f2f2f2;
    stroke: #9370DB;
}

#mermaid .relationshipLabelBox {
    fill: hsl(80, 100%, 96.2745098039%);
    opacity: 0.7;
    background-color: hsl(80, 100%, 96.2745098039%);
}

#mermaid .relationshipLabelBox rect {
    opacity: 0.5;
}

#mermaid .relationshipLine {
    stroke: #333333;
}

/** Journey */
#mermaid .label {
    color: #333;
}

#mermaid .mouth {
    stroke: #666;
}

#mermaid line {
    stroke: #333;
}

#mermaid .legend {
    fill: #333;
}

#mermaid .label text {
    fill: #333;
}

#mermaid .label {
    color: #333;
}

#mermaid .face {
    fill: #FFF8DC;
    stroke: #999;
}

#mermaid .node rect, #mermaid .node circle, #mermaid .node ellipse, #mermaid .node polygon, #mermaid .node path {
    fill: #ECECFF;
    stroke: #9370DB;
    stroke-width: 1px;
}

#mermaid .node .label {
    text-align: center;
}

#mermaid .node.clickable {
    cursor: pointer;
}

#mermaid .arrowheadPath {
    fill: #333333;
}

#mermaid .edgePath .path {
    stroke: #333333;
    stroke-width: 1.5px;
}

#mermaid .flowchart-link {
    stroke: #333333;
    fill: none;
}

#mermaid .edgeLabel {
    background-color: #e8e8e8;
    text-align: center;
}

#mermaid .edgeLabel rect {
    opacity: 0.5;
}

#mermaid .cluster text {
    fill: #333;
}

#mermaid div.mermaidTooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    padding: 2px;
    font-size: 12px;
    background: hsl(80, 100%, 96.2745098039%);
    border: 1px solid #aaaa33;
    border-radius: 2px;
    pointer-events: none;
    z-index: 100;
}

#mermaid .task-type-0, #mermaid .section-type-0 {
    fill: #ECECFF;
}

#mermaid .task-type-1, #mermaid .section-type-1 {
    fill: #ffffde;
}

#mermaid .task-type-2, #mermaid .section-type-2 {
    fill: hsl(304, 100%, 96.2745098039%);
}

#mermaid .task-type-3, #mermaid .section-type-3 {
    fill: hsl(124, 100%, 93.5294117647%);
}

#mermaid .task-type-4, #mermaid .section-type-4 {
    fill: hsl(176, 100%, 96.2745098039%);
}

#mermaid .task-type-5, #mermaid .section-type-5 {
    fill: hsl(-4, 100%, 93.5294117647%);
}

#mermaid .task-type-6, #mermaid .section-type-6 {
    fill: hsl(8, 100%, 96.2745098039%);
}

#mermaid .task-type-7, #mermaid .section-type-7 {
    fill: hsl(188, 100%, 93.5294117647%);
}

/** State diagram */
#mermaid defs #statediagram-barbEnd {
    fill: #333333;
    stroke: #333333;
}

#mermaid g.stateGroup text {
    fill: #9370DB;
    stroke: none;
    font-size: 10px;
}

#mermaid g.stateGroup text {
    fill: #333;
    stroke: none;
    font-size: 10px;
}

#mermaid g.stateGroup .state-title {
    font-weight: bolder;
    fill: #131300;
}

#mermaid g.stateGroup rect {
    fill: #ECECFF;
    stroke: #9370DB;
}

#mermaid g.stateGroup line {
    stroke: #333333;
    stroke-width: 1;
}

#mermaid .transition {
    stroke: #333333;
    stroke-width: 1;
    fill: none;
}

#mermaid .stateGroup .composit {
    fill: white;
    border-bottom: 1px;
}

#mermaid .stateGroup .alt-composit {
    fill: #e0e0e0;
    border-bottom: 1px;
}

#mermaid .state-note {
    stroke: #aaaa33;
    fill: #fff5ad;
}

#mermaid .state-note text {
    fill: black;
    stroke: none;
    font-size: 10px;
}

#mermaid .stateLabel .box {
    stroke: none;
    stroke-width: 0;
    fill: #ECECFF;
    opacity: 0.5;
}

#mermaid .edgeLabel .label rect {
    fill: #ECECFF;
    opacity: 0.5;
}

#mermaid .edgeLabel .label text {
    fill: #333;
}

#mermaid .label div .edgeLabel {
    color: #333;
}

#mermaid .stateLabel text {
    fill: #131300;
    font-size: 10px;
    font-weight: bold;
}

#mermaid .node circle.state-start {
    fill: #333333;
    stroke: #333333;
}

#mermaid .node .fork-join {
    fill: #333333;
    stroke: #333333;
}

#mermaid .node circle.state-end {
    fill: #9370DB;
    stroke: white;
    stroke-width: 1.5;
}

#mermaid .end-state-inner {
    fill: white;
    stroke-width: 1.5;
}

#mermaid .node rect {
    fill: #ECECFF;
    stroke: #9370DB;
    stroke-width: 1px;
}

#mermaid .node polygon {
    fill: #ECECFF;
    stroke: #9370DB;
    stroke-width: 1px;
}

#mermaid #statediagram-barbEnd {
    fill: #333333;
}

#mermaid .statediagram-cluster rect {
    fill: #ECECFF;
    stroke: #9370DB;
    stroke-width: 1px;
}

#mermaid .cluster-label, #mermaid .nodeLabel {
    color: #131300;
}

#mermaid .statediagram-cluster rect.outer {
    rx: 5px;
    ry: 5px;
}

#mermaid .statediagram-state .divider {
    stroke: #9370DB;
}

#mermaid .statediagram-state .title-state {
    rx: 5px;
    ry: 5px;
}

#mermaid .statediagram-cluster.statediagram-cluster .inner {
    fill: white;
}

#mermaid .statediagram-cluster.statediagram-cluster-alt .inner {
    fill: #f0f0f0;
}

#mermaid .statediagram-cluster .inner {
    rx: 0;
    ry: 0;
}

#mermaid .statediagram-state rect.basic {
    rx: 5px;
    ry: 5px;
}

#mermaid .statediagram-state rect.divider {
    stroke-dasharray: 10, 10;
    fill: #f0f0f0;
}

#mermaid .note-edge {
    stroke-dasharray: 5;
}

#mermaid .statediagram-note rect {
    fill: #fff5ad;
    stroke: #aaaa33;
    stroke-width: 1px;
    rx: 0;
    ry: 0;
}

#mermaid .statediagram-note rect {
    fill: #fff5ad;
    stroke: #aaaa33;
    stroke-width: 1px;
    rx: 0;
    ry: 0;
}

#mermaid .statediagram-note text {
    fill: black;
}

#mermaid .statediagram-note .nodeLabel {
    color: black;
}

#mermaid .statediagram .edgeLabel {
    color: red;
}

#mermaid #dependencyStart, #mermaid #dependencyEnd {
    fill: #333333;
    stroke: #333333;
    stroke-width: 1;
}

/** Pie chart */
#mermaid .pieCircle {
    stroke: #222;
    stroke-width: 1px;
}

#mermaid .pieTitleText {
    text-anchor: middle;
    font-size: 25px;
    fill: black;
}

#mermaid .slice {
    fill: #333;
    font-size: 17px;
}

#mermaid .legend text {
    fill: black;
    font-size: 17px;
}

/** Requirements */
#mermaid marker {
    fill: #333333;
    stroke: #333333;
}

#mermaid marker.cross {
    stroke: #333333;
}

#mermaid svg {
    font-size: 16px;
}

#mermaid .reqBox {
    fill: #ECECFF;
    fill-opacity: 100%;
    stroke: hsl(240, 60%, 86.2745098039%);
    stroke-width: hsl(240, 60%, 86.2745098039%);
}

#mermaid .reqTitle, #mermaid .reqLabel {
    fill: #131300;
}

#mermaid .reqLabelBox {
    fill: #e8e8e8;
    fill-opacity: 100%;
}

#mermaid .req-title-line {
    stroke: hsl(240, 60%, 86.2745098039%);
    stroke-width: hsl(240, 60%, 86.2745098039%);
}

#mermaid .relationshipLine {
    stroke: #333333;
    stroke-width: 1;
}

#mermaid .relationshipLabel {
    fill: black;
}

/** C4 system */
#mermaid .person {
    stroke: calculated;
    fill: calculated;
}

/** Mind map */
#mermaid .section-root.mindmap-node {
    fill: hsl(240, 100%, 50%);
}

#mermaid .section-root.mindmap-node text {
    fill: white;
}

#mermaid .mindmap-edges .edge-depth-0 {
    stroke-width: 14;
}

#mermaid .mindmap-edges .edge-depth-1 {
    stroke-width: 11;
}

#mermaid .mindmap-edges .edge-depth-2 {
    stroke-width: 8;
}

#mermaid .mindmap-edges .edge-depth-3 {
    stroke-width: 5;
}

#mermaid .mindmap-edges .edge-depth-4 {
    stroke-width: 3;
}

#mermaid .mindmap-edges .edge-depth-5 {
    stroke-width: 2;
}

#mermaid .mindmap-edges .edge-depth-6 {
    stroke-width: 1;
}

#mermaid .mindmap-edges .section-edge-0, #mermaid .mindmap-node.section-0 path {
    fill: hsl(60, 100%, 70%);
    stroke: hsl(60, 100%, 70%);
}

#mermaid .mindmap-node.section-0 text {
    fill: black;
}

#mermaid .mindmap-edges .section-edge-1, #mermaid .mindmap-node.section-1 path {
    fill: hsl(170, 90%, 70%);
    stroke: hsl(170, 90%, 70%);
}

#mermaid .mindmap-node.section-1 text {
    fill: black;
}

#mermaid .mindmap-edges .section-edge-2, #mermaid .mindmap-node.section-2 path {
    fill: hsl(280, 90%, 70%);
    stroke: hsl(280, 90%, 70%);
}

#mermaid .mindmap-node.section-2 text {
    fill: white;
}

#mermaid .mindmap-edges .section-edge-3, #mermaid .mindmap-node.section-3 path {
    fill: hsl(30, 90%, 70%);
    stroke: hsl(30, 90%, 70%);
}

#mermaid .mindmap-node.section-3 text {
    fill: black;
}

#mermaid .mindmap-edges .section-edge-4, #mermaid .mindmap-node.section-4 path {
    fill: hsl(140, 90%, 70%);
    stroke: hsl(140, 90%, 70%);
}

#mermaid .mindmap-node.section-4 text {
    fill: black;
}

#mermaid .mindmap-edges .section-edge-5, #mermaid .mindmap-node.section-5 path {
    fill: hsl(250, 90%, 70%);
    stroke: hsl(250, 90%, 70%);
}

#mermaid .mindmap-node.section-5 text {
    fill: white;
}

#mermaid .mindmap-edges .section-edge-6, #mermaid .mindmap-node.section-6 path {
    fill: hsl(0, 90%, 70%);
    stroke: hsl(0, 90%, 70%);
}

#mermaid .mindmap-node.section-6 text {
    fill: black;
}

#mermaid .mindmap-edges .section-edge-7, #mermaid .mindmap-node.section-7 path {
    fill: hsl(110, 90%, 70%);
    stroke: hsl(110, 90%, 70%);
}

#mermaid .mindmap-node.section-7 text {
    fill: black;
}

#mermaid .mindmap-edges .section-edge-8, #mermaid .mindmap-node.section-8 path {
    fill: hsl(220, 90%, 70%);
    stroke: hsl(220, 90%, 70%);
}

#mermaid .mindmap-node.section-8 text {
    fill: white;
}

#mermaid .mindmap-edges .section-edge-9, #mermaid .mindmap-node.section-9 path {
    fill: hsl(330, 90%, 70%);
    stroke: hsl(330, 90%, 70%);
}

#mermaid .mindmap-node.section-9 text {
    fill: black;
}

#mermaid .mindmap-edges .section-edge-10, #mermaid .mindmap-node.section-10 path {
    fill: hsl(80, 90%, 70%);
    stroke: hsl(80, 90%, 70%);
}

#mermaid .mindmap-node.section-10 text {
    fill: black;
}

#mermaid .mindmap-edges .section-edge-11, #mermaid .mindmap-node.section-11 path {
    fill: hsl(190, 90%, 70%);
    stroke: hsl(190, 90%, 70%);
}

#mermaid .mindmap-node.section-11 text {
    fill: black;
}

#mermaid .mindmap-edges .section-edge-12, #mermaid .mindmap-node.section-12 path {
    fill: hsl(300, 90%, 70%);
    stroke: hsl(300, 90%, 70%);
}

#mermaid .mindmap-node.section-12 text {
    fill: black;
}

/** Timeline */
#mermaid .timeline text tspan {
    fill: #222;
}

#mermaid .timeline-node path {
    fill: #ccc;
}

/* Dark theme */
/** Common */
html.theme-dark #mermaid {
    fill: #ccc;
}

html.theme-dark #mermaid .error-icon {
    fill: #a44141;
}

html.theme-dark #mermaid .error-text {
    fill: #ddd;
    stroke: #ddd;
}

html.theme-dark #mermaid .edge-pattern-solid {
    stroke-dasharray: 0;
}

html.theme-dark #mermaid .edge-pattern-dashed {
    stroke-dasharray: 3;
}

html.theme-dark #mermaid .edge-pattern-dotted {
    stroke-dasharray: 2;
}

html.theme-dark #mermaid .marker {
    fill: lightgrey;
    stroke: lightgrey;
}

html.theme-dark #mermaid .marker.cross {
    stroke: lightgrey;
}

/** Flowchart */
html.theme-dark #mermaid .label {
    color: #ccc;
}

html.theme-dark #mermaid .cluster-label text {
    fill: #F9FFFE;
}

html.theme-dark #mermaid .cluster-label span {
    color: #F9FFFE;
}

html.theme-dark #mermaid .label text, html.theme-dark #mermaid span {
    fill: #ccc;
    color: #ccc;
}

html.theme-dark #mermaid .node rect, html.theme-dark #mermaid .node circle, html.theme-dark #mermaid .node ellipse, html.theme-dark #mermaid .node polygon, html.theme-dark #mermaid .node path {
    fill: #1f2020;
    stroke: #81B1DB;
    stroke-width: 1px;
}

html.theme-dark #mermaid .node .label {
    text-align: center;
}

html.theme-dark #mermaid .node.clickable {
    cursor: pointer;
}

html.theme-dark #mermaid .arrowheadPath {
    fill: lightgrey;
}

html.theme-dark #mermaid .edgePath .path {
    stroke: lightgrey;
    stroke-width: 2.0px;
}

html.theme-dark #mermaid .flowchart-link {
    stroke: lightgrey;
    fill: none;
}

html.theme-dark #mermaid .edgeLabel {
    background-color: hsl(0, 0%, 34.4117647059%);
    text-align: center;
}

html.theme-dark #mermaid .edgeLabel rect {
    opacity: 0.5;
    background-color: hsl(0, 0%, 34.4117647059%);
    fill: hsl(0, 0%, 34.4117647059%);
}

html.theme-dark #mermaid .cluster rect {
    fill: hsl(180, 1.5873015873%, 28.3529411765%);
    stroke: rgba(255, 255, 255, 0.25);
    stroke-width: 1px;
}

html.theme-dark #mermaid .cluster text {
    fill: #F9FFFE;
}

html.theme-dark #mermaid .cluster span {
    color: #F9FFFE;
}

html.theme-dark #mermaid div.mermaidTooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    padding: 2px;
    background: hsl(20, 1.5873015873%, 12.3529411765%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    pointer-events: none;
    z-index: 100;
}

html.theme-dark #mermaid :root {
    --mermaid-
}

/** Sequence diagram */
html.theme-dark #mermaid .actor {
    stroke: #81B1DB;
    fill: #1f2020;
}

html.theme-dark #mermaid text.actor > tspan {
    fill: lightgrey;
    stroke: none;
}

html.theme-dark #mermaid .actor-line {
    stroke: lightgrey;
}

html.theme-dark #mermaid .messageLine0 {
    stroke-width: 1.5;
    stroke-dasharray: none;
    stroke: lightgrey;
}

html.theme-dark #mermaid .messageLine1 {
    stroke-width: 1.5;
    stroke-dasharray: 2, 2;
    stroke: lightgrey;
}

html.theme-dark #mermaid #arrowhead path {
    fill: lightgrey;
    stroke: lightgrey;
}

html.theme-dark #mermaid .sequenceNumber {
    fill: black;
}

html.theme-dark #mermaid #sequencenumber {
    fill: lightgrey;
}

html.theme-dark #mermaid #crosshead path {
    fill: lightgrey;
    stroke: lightgrey;
}

html.theme-dark #mermaid .messageText {
    fill: lightgrey;
    stroke: none;
}

html.theme-dark #mermaid .labelBox {
    stroke: #81B1DB;
    fill: #1f2020;
}

html.theme-dark #mermaid .labelText, html.theme-dark #mermaid .labelText > tspan {
    fill: lightgrey;
    stroke: none;
}

html.theme-dark #mermaid .loopText, html.theme-dark #mermaid .loopText > tspan {
    fill: lightgrey;
    stroke: none;
}

html.theme-dark #mermaid .loopLine {
    stroke-width: 2px;
    stroke-dasharray: 2, 2;
    stroke: #81B1DB;
    fill: #81B1DB;
}

html.theme-dark #mermaid .note {
    stroke: hsl(180, 0%, 18.3529411765%);
    fill: hsl(180, 1.5873015873%, 28.3529411765%);
}

html.theme-dark #mermaid .noteText, html.theme-dark #mermaid .noteText > tspan {
    fill: rgb(183.8476190475, 181.5523809523, 181.5523809523);
    stroke: none;
}

html.theme-dark #mermaid .activation0 {
    fill: hsl(180, 1.5873015873%, 28.3529411765%);
    stroke: #81B1DB;
}

html.theme-dark #mermaid .activation1 {
    fill: hsl(180, 1.5873015873%, 28.3529411765%);
    stroke: #81B1DB;
}

html.theme-dark #mermaid .activation2 {
    fill: hsl(180, 1.5873015873%, 28.3529411765%);
    stroke: #81B1DB;
}

html.theme-dark #mermaid .actorPopupMenu {
    position: absolute;
}

html.theme-dark #mermaid .actorPopupMenuPanel {
    position: absolute;
    fill: #1f2020;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

html.theme-dark #mermaid .actor-man line {
    stroke: #81B1DB;
    fill: #1f2020;
}

html.theme-dark #mermaid .actor-man circle, html.theme-dark #mermaid line {
    stroke: #81B1DB;
    fill: #1f2020;
    stroke-width: 2px;
}

html.theme-dark #mermaid :root {
    --mermaid-
}

/** Gantt */
html.theme-dark #mermaid .exclude-range {
    fill: #444;
}

html.theme-dark #mermaid .section {
    stroke: none;
    opacity: 0.2;
}

html.theme-dark #mermaid .section0 {
    fill: hsl(52.9411764706, 28.813559322%, 58.431372549%);
}

html.theme-dark #mermaid .section2 {
    fill: #EAE8D9;
}

html.theme-dark #mermaid .section1, html.theme-dark #mermaid .section3 {
    fill: #333;
    opacity: 0.2;
}

html.theme-dark #mermaid .sectionTitle0 {
    fill: #F9FFFE;
}

html.theme-dark #mermaid .sectionTitle1 {
    fill: #F9FFFE;
}

html.theme-dark #mermaid .sectionTitle2 {
    fill: #F9FFFE;
}

html.theme-dark #mermaid .sectionTitle3 {
    fill: #F9FFFE;
}

html.theme-dark #mermaid .sectionTitle {
    text-anchor: start;
}

html.theme-dark #mermaid .grid .tick {
    stroke: lightgrey;
    opacity: 0.8;
    shape-rendering: crispEdges;
}

html.theme-dark #mermaid .grid .tick text {
    fill: #ccc;
}

html.theme-dark #mermaid .grid path {
    stroke-width: 0;
}

html.theme-dark #mermaid .today {
    fill: none;
    stroke: #DB5757;
    stroke-width: 2px;
}

html.theme-dark #mermaid .task {
    stroke-width: 2;
}

html.theme-dark #mermaid .taskText {
    text-anchor: middle;
}

html.theme-dark #mermaid .taskTextOutsideRight {
    fill: hsl(28.5714285714, 17.3553719008%, 86.2745098039%);
    text-anchor: start;
}

html.theme-dark #mermaid .taskTextOutsideLeft {
    fill: hsl(28.5714285714, 17.3553719008%, 86.2745098039%);
    text-anchor: end;
}

html.theme-dark #mermaid .task.clickable {
    cursor: pointer;
}

html.theme-dark #mermaid .taskText.clickable {
    cursor: pointer;
    fill: #003163 !important;
    font-weight: bold;
}

html.theme-dark #mermaid .taskTextOutsideLeft.clickable {
    cursor: pointer;
    fill: #003163 !important;
    font-weight: bold;
}

html.theme-dark #mermaid .taskTextOutsideRight.clickable {
    cursor: pointer;
    fill: #003163 !important;
    font-weight: bold;
}

html.theme-dark #mermaid .taskText0, html.theme-dark #mermaid .taskText1, html.theme-dark #mermaid .taskText2, html.theme-dark #mermaid .taskText3 {
    fill: hsl(28.5714285714, 17.3553719008%, 86.2745098039%);
}

html.theme-dark #mermaid .task0, html.theme-dark #mermaid .task1, html.theme-dark #mermaid .task2, html.theme-dark #mermaid .task3 {
    fill: hsl(180, 1.5873015873%, 35.3529411765%);
    stroke: #ffffff;
}

html.theme-dark #mermaid .taskTextOutside0, html.theme-dark #mermaid .taskTextOutside2 {
    fill: lightgrey;
}

html.theme-dark #mermaid .taskTextOutside1, html.theme-dark #mermaid .taskTextOutside3 {
    fill: lightgrey;
}

html.theme-dark #mermaid .active0, html.theme-dark #mermaid .active1, html.theme-dark #mermaid .active2, html.theme-dark #mermaid .active3 {
    fill: #81B1DB;
    stroke: #ffffff;
}

html.theme-dark #mermaid .activeText0, html.theme-dark #mermaid .activeText1, html.theme-dark #mermaid .activeText2, html.theme-dark #mermaid .activeText3 {
    fill: hsl(28.5714285714, 17.3553719008%, 86.2745098039%) !important;
}

html.theme-dark #mermaid .done0, html.theme-dark #mermaid .done1, html.theme-dark #mermaid .done2, html.theme-dark #mermaid .done3 {
    stroke: grey;
    fill: lightgrey;
    stroke-width: 2;
}

html.theme-dark #mermaid .doneText0, html.theme-dark #mermaid .doneText1, html.theme-dark #mermaid .doneText2, html.theme-dark #mermaid .doneText3 {
    fill: hsl(28.5714285714, 17.3553719008%, 86.2745098039%) !important;
}

html.theme-dark #mermaid .crit0, html.theme-dark #mermaid .crit1, html.theme-dark #mermaid .crit2, html.theme-dark #mermaid .crit3 {
    stroke: #E83737;
    fill: #E83737;
    stroke-width: 2;
}

html.theme-dark #mermaid .activeCrit0, html.theme-dark #mermaid .activeCrit1, html.theme-dark #mermaid .activeCrit2, html.theme-dark #mermaid .activeCrit3 {
    stroke: #E83737;
    fill: #81B1DB;
    stroke-width: 2;
}

html.theme-dark #mermaid .doneCrit0, html.theme-dark #mermaid .doneCrit1, html.theme-dark #mermaid .doneCrit2, html.theme-dark #mermaid .doneCrit3 {
    stroke: #E83737;
    fill: lightgrey;
    stroke-width: 2;
    cursor: pointer;
    shape-rendering: crispEdges;
}

html.theme-dark #mermaid .milestone {
    transform: rotate(45deg) scale(0.8, 0.8);
}

html.theme-dark #mermaid .milestoneText {
    font-style: italic;
}

html.theme-dark #mermaid .doneCritText0, html.theme-dark #mermaid .doneCritText1, html.theme-dark #mermaid .doneCritText2, html.theme-dark #mermaid .doneCritText3 {
    fill: hsl(28.5714285714, 17.3553719008%, 86.2745098039%) !important;
}

html.theme-dark #mermaid .activeCritText0, html.theme-dark #mermaid .activeCritText1, html.theme-dark #mermaid .activeCritText2, html.theme-dark #mermaid .activeCritText3 {
    fill: hsl(28.5714285714, 17.3553719008%, 86.2745098039%) !important;
}

html.theme-dark #mermaid .titleText {
    text-anchor: middle;
    fill: #ccc;
}

html.theme-dark #mermaid :root {
    --mermaid-
}

/** Class diagram */
html.theme-dark #mermaid g.classGroup text {
    fill: #e0dfdf;
    stroke: none;
}

html.theme-dark #mermaid g.classGroup text .title {
    font-weight: bolder;
}

html.theme-dark #mermaid .nodeLabel, html.theme-dark #mermaid .edgeLabel {
    color: #e0dfdf;
}

html.theme-dark #mermaid .edgeLabel .label rect {
    fill: #1f2020;
}

html.theme-dark #mermaid .label text {
    fill: #e0dfdf;
}

html.theme-dark #mermaid .edgeLabel .label span {
    background: #1f2020;
}

html.theme-dark #mermaid .classTitle {
    font-weight: bolder;
}

html.theme-dark #mermaid .node rect, html.theme-dark #mermaid .node circle, html.theme-dark #mermaid .node ellipse, html.theme-dark #mermaid .node polygon, html.theme-dark #mermaid .node path {
    fill: #1f2020;
    stroke: #81B1DB;
    stroke-width: 1px;
}

html.theme-dark #mermaid .divider {
    stroke: #81B1DB;
    stroke: 1;
}

html.theme-dark #mermaid g.clickable {
    cursor: pointer;
}

html.theme-dark #mermaid g.classGroup rect {
    fill: #1f2020;
    stroke: #81B1DB;
}

html.theme-dark #mermaid g.classGroup line {
    stroke: #81B1DB;
    stroke-width: 1;
}

html.theme-dark #mermaid .classLabel .box {
    stroke: none;
    stroke-width: 0;
    fill: #1f2020;
    opacity: 0.5;
}

html.theme-dark #mermaid .classLabel .label {
    fill: #81B1DB;
}

html.theme-dark #mermaid .relation {
    stroke: lightgrey;
    stroke-width: 1;
    fill: none;
}

html.theme-dark #mermaid .dashed-line {
    stroke-dasharray: 3;
}

html.theme-dark #mermaid #compositionStart, html.theme-dark #mermaid .composition {
    fill: lightgrey !important;
    stroke: lightgrey !important;
    stroke-width: 1;
}

html.theme-dark #mermaid #compositionEnd, html.theme-dark #mermaid .composition {
    fill: lightgrey !important;
    stroke: lightgrey !important;
    stroke-width: 1;
}

html.theme-dark #mermaid #dependencyStart, html.theme-dark #mermaid .dependency {
    fill: lightgrey !important;
    stroke: lightgrey !important;
    stroke-width: 1;
}

html.theme-dark #mermaid #dependencyStart, html.theme-dark #mermaid .dependency {
    fill: lightgrey !important;
    stroke: lightgrey !important;
    stroke-width: 1;
}

html.theme-dark #mermaid #extensionStart, html.theme-dark #mermaid .extension {
    fill: lightgrey !important;
    stroke: lightgrey !important;
    stroke-width: 1;
}

html.theme-dark #mermaid #extensionEnd, html.theme-dark #mermaid .extension {
    fill: lightgrey !important;
    stroke: lightgrey !important;
    stroke-width: 1;
}

html.theme-dark #mermaid #aggregationStart, html.theme-dark #mermaid .aggregation {
    fill: #1f2020 !important;
    stroke: lightgrey !important;
    stroke-width: 1;
}

html.theme-dark #mermaid #aggregationEnd, html.theme-dark #mermaid .aggregation {
    fill: #1f2020 !important;
    stroke: lightgrey !important;
    stroke-width: 1;
}

html.theme-dark #mermaid #lollipopStart, html.theme-dark #mermaid .lollipop {
    fill: #1f2020 !important;
    stroke: lightgrey !important;
    stroke-width: 1;
}

html.theme-dark #mermaid #lollipopEnd, html.theme-dark #mermaid .lollipop {
    fill: #1f2020 !important;
    stroke: lightgrey !important;
    stroke-width: 1;
}

html.theme-dark #mermaid .edgeTerminals {
}

html.theme-dark #mermaid :root {
    --mermaid-
}

/** Git graph */
html.theme-dark #mermaid .commit-id, html.theme-dark #mermaid .commit-msg, html.theme-dark #mermaid .branch-label {
    fill: lightgrey;
    color: lightgrey;
}

html.theme-dark #mermaid .branch-label0 {
    fill: undefined;
}

html.theme-dark #mermaid .commit0 {
    stroke: hsl(180, 1.5873015873%, 48.3529411765%);
    fill: hsl(180, 1.5873015873%, 48.3529411765%);
}

html.theme-dark #mermaid .commit-highlight0 {
    stroke: rgb(133.6571428571, 129.7428571428, 129.7428571428);
    fill: rgb(133.6571428571, 129.7428571428, 129.7428571428);
}

html.theme-dark #mermaid .label0 {
    fill: hsl(180, 1.5873015873%, 48.3529411765%);
}

html.theme-dark #mermaid .arrow0 {
    stroke: hsl(180, 1.5873015873%, 48.3529411765%);
}

html.theme-dark #mermaid .branch-label1 {
    fill: undefined;
}

html.theme-dark #mermaid .commit1 {
    stroke: hsl(321.6393442623, 65.5913978495%, 38.2352941176%);
    fill: hsl(321.6393442623, 65.5913978495%, 38.2352941176%);
}

html.theme-dark #mermaid .commit-highlight1 {
    stroke: rgb(93.5483870969, 221.4516129033, 139.677419355);
    fill: rgb(93.5483870969, 221.4516129033, 139.677419355);
}

html.theme-dark #mermaid .label1 {
    fill: hsl(321.6393442623, 65.5913978495%, 38.2352941176%);
}

html.theme-dark #mermaid .arrow1 {
    stroke: hsl(321.6393442623, 65.5913978495%, 38.2352941176%);
}

html.theme-dark #mermaid .branch-label2 {
    fill: undefined;
}

html.theme-dark #mermaid .commit2 {
    stroke: hsl(194.4, 16.5562913907%, 49.6078431373%);
    fill: hsl(194.4, 16.5562913907%, 49.6078431373%);
}

html.theme-dark #mermaid .commit-highlight2 {
    stroke: rgb(149.4437086091, 117.6092715231, 107.5562913906);
    fill: rgb(149.4437086091, 117.6092715231, 107.5562913906);
}

html.theme-dark #mermaid .label2 {
    fill: hsl(194.4, 16.5562913907%, 49.6078431373%);
}

html.theme-dark #mermaid .arrow2 {
    stroke: hsl(194.4, 16.5562913907%, 49.6078431373%);
}

html.theme-dark #mermaid .branch-label3 {
    fill: undefined;
}

html.theme-dark #mermaid .commit3 {
    stroke: hsl(23.0769230769, 49.0566037736%, 40.7843137255%);
    fill: hsl(23.0769230769, 49.0566037736%, 40.7843137255%);
}

html.theme-dark #mermaid .commit-highlight3 {
    stroke: rgb(99.9811320754, 162.7735849057, 202.0188679245);
    fill: rgb(99.9811320754, 162.7735849057, 202.0188679245);
}

html.theme-dark #mermaid .label3 {
    fill: hsl(23.0769230769, 49.0566037736%, 40.7843137255%);
}

html.theme-dark #mermaid .arrow3 {
    stroke: hsl(23.0769230769, 49.0566037736%, 40.7843137255%);
}

html.theme-dark #mermaid .branch-label4 {
    fill: undefined;
}

html.theme-dark #mermaid .commit4 {
    stroke: hsl(0, 83.3333333333%, 43.5294117647%);
    fill: hsl(0, 83.3333333333%, 43.5294117647%);
}

html.theme-dark #mermaid .commit-highlight4 {
    stroke: rgb(51.5000000001, 236.5, 236.5);
    fill: rgb(51.5000000001, 236.5, 236.5);
}

html.theme-dark #mermaid .label4 {
    fill: hsl(0, 83.3333333333%, 43.5294117647%);
}

html.theme-dark #mermaid .arrow4 {
    stroke: hsl(0, 83.3333333333%, 43.5294117647%);
}

html.theme-dark #mermaid .branch-label5 {
    fill: undefined;
}

html.theme-dark #mermaid .commit5 {
    stroke: hsl(289.1666666667, 100%, 24.1176470588%);
    fill: hsl(289.1666666667, 100%, 24.1176470588%);
}

html.theme-dark #mermaid .commit-highlight5 {
    stroke: rgb(154.2083333334, 255, 132.0000000001);
    fill: rgb(154.2083333334, 255, 132.0000000001);
}

html.theme-dark #mermaid .label5 {
    fill: hsl(289.1666666667, 100%, 24.1176470588%);
}

html.theme-dark #mermaid .arrow5 {
    stroke: hsl(289.1666666667, 100%, 24.1176470588%);
}

html.theme-dark #mermaid .branch-label6 {
    fill: undefined;
}

html.theme-dark #mermaid .commit6 {
    stroke: hsl(35.1315789474, 98.7012987013%, 40.1960784314%);
    fill: hsl(35.1315789474, 98.7012987013%, 40.1960784314%);
}

html.theme-dark #mermaid .commit-highlight6 {
    stroke: rgb(51.331168831, 135.1948051946, 253.6688311688);
    fill: rgb(51.331168831, 135.1948051946, 253.6688311688);
}

html.theme-dark #mermaid .label6 {
    fill: hsl(35.1315789474, 98.7012987013%, 40.1960784314%);
}

html.theme-dark #mermaid .arrow6 {
    stroke: hsl(35.1315789474, 98.7012987013%, 40.1960784314%);
}

html.theme-dark #mermaid .branch-label7 {
    fill: undefined;
}

html.theme-dark #mermaid .commit7 {
    stroke: hsl(106.1538461538, 84.4155844156%, 35.0980392157%);
    fill: hsl(106.1538461538, 84.4155844156%, 35.0980392157%);
}

html.theme-dark #mermaid .commit-highlight7 {
    stroke: rgb(206.1818181817, 89.948051948, 241.051948052);
    fill: rgb(206.1818181817, 89.948051948, 241.051948052);
}

html.theme-dark #mermaid .label7 {
    fill: hsl(106.1538461538, 84.4155844156%, 35.0980392157%);
}

html.theme-dark #mermaid .arrow7 {
    stroke: hsl(106.1538461538, 84.4155844156%, 35.0980392157%);
}

html.theme-dark #mermaid .branch {
    stroke-width: 1;
    stroke: lightgrey;
    stroke-dasharray: 2;
}

html.theme-dark #mermaid .commit-label {
    fill: rgb(183.8476190475, 181.5523809523, 181.5523809523);
}

html.theme-dark #mermaid .commit-label-bkg {
    fill: hsl(180, 1.5873015873%, 28.3529411765%);
    opacity: 0.5;
}

html.theme-dark #mermaid .tag-label {
    fill: #e0dfdf;
}

html.theme-dark #mermaid .tag-label-bkg {
    fill: #1f2020;
    stroke: #cccccc;
}

html.theme-dark #mermaid .tag-hole {
    fill: #ccc;
}

html.theme-dark #mermaid .commit-merge {
    stroke: #1f2020;
    fill: #1f2020;
}

html.theme-dark #mermaid .commit-reverse {
    stroke: #1f2020;
    fill: #1f2020;
    stroke-width: 3;
}

html.theme-dark #mermaid .commit-highlight-inner {
    stroke: #1f2020;
    fill: #1f2020;
}

html.theme-dark #mermaid .arrow {
    stroke-width: 8;
    stroke-linecap: round;
    fill: none;
}

:root {
    --mermaid-
}

/** Entity relationship */
html.theme-dark #mermaid .entityBox {
    fill: #1f2020;
    stroke: #81B1DB;
}

html.theme-dark #mermaid .attributeBoxOdd {
    fill: hsl(0, 0%, 32%);
    stroke: #81B1DB;
}

html.theme-dark #mermaid .attributeBoxEven {
    fill: hsl(0, 0%, 22%);
    stroke: #81B1DB;
}

html.theme-dark #mermaid .relationshipLabelBox {
    fill: hsl(20, 1.5873015873%, 12.3529411765%);
    opacity: 0.7;
    background-color: hsl(20, 1.5873015873%, 12.3529411765%);
}

html.theme-dark #mermaid .relationshipLabelBox rect {
    opacity: 0.5;
}

html.theme-dark #mermaid .relationshipLine {
    stroke: lightgrey;
}

html.theme-dark #mermaid :root {
    --mermaid-
}

/** Journey */
html.theme-dark #mermaid .label {
    color: #ccc;
}

html.theme-dark #mermaid .mouth {
    stroke: #666;
}

html.theme-dark #mermaid line {
    stroke: #ccc;
}

html.theme-dark #mermaid .legend {
    fill: #ccc;
}

html.theme-dark #mermaid .label text {
    fill: #333;
}

html.theme-dark #mermaid .label {
    color: #ccc;
}

html.theme-dark #mermaid .face {
    fill: #FFF8DC;
    stroke: #999;
}

html.theme-dark #mermaid .node rect, html.theme-dark #mermaid .node circle, html.theme-dark #mermaid .node ellipse, html.theme-dark #mermaid .node polygon, html.theme-dark #mermaid .node path {
    fill: #1f2020;
    stroke: #81B1DB;
    stroke-width: 1px;
}

html.theme-dark #mermaid .node .label {
    text-align: center;
}

html.theme-dark #mermaid .node.clickable {
    cursor: pointer;
}

html.theme-dark #mermaid .arrowheadPath {
    fill: lightgrey;
}

html.theme-dark #mermaid .edgePath .path {
    stroke: lightgrey;
    stroke-width: 1.5px;
}

html.theme-dark #mermaid .flowchart-link {
    stroke: lightgrey;
    fill: none;
}

html.theme-dark #mermaid .edgeLabel {
    background-color: hsl(0, 0%, 34.4117647059%);
    text-align: center;
}

html.theme-dark #mermaid .edgeLabel rect {
    opacity: 0.5;
}

html.theme-dark #mermaid .cluster text {
    fill: #F9FFFE;
}

html.theme-dark #mermaid div.mermaidTooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    padding: 2px;
    background: hsl(20, 1.5873015873%, 12.3529411765%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    pointer-events: none;
    z-index: 100;
}

html.theme-dark #mermaid .task-type-0, html.theme-dark #mermaid .section-type-0 {
    fill: #1f2020;
}

html.theme-dark #mermaid .task-type-1, html.theme-dark #mermaid .section-type-1 {
    fill: hsl(180, 1.5873015873%, 28.3529411765%);
}

html.theme-dark #mermaid .task-type-2, html.theme-dark #mermaid .section-type-2 {
    fill: hsl(244, 1.5873015873%, 12.3529411765%);
}

html.theme-dark #mermaid .task-type-3, html.theme-dark #mermaid .section-type-3 {
    fill: hsl(244, 1.5873015873%, 28.3529411765%);
}

html.theme-dark #mermaid .task-type-4, html.theme-dark #mermaid .section-type-4 {
    fill: hsl(116, 1.5873015873%, 12.3529411765%);
}

html.theme-dark #mermaid .task-type-5, html.theme-dark #mermaid .section-type-5 {
    fill: hsl(116, 1.5873015873%, 28.3529411765%);
}

html.theme-dark #mermaid .task-type-6, html.theme-dark #mermaid .section-type-6 {
    fill: hsl(308, 1.5873015873%, 12.3529411765%);
}

html.theme-dark #mermaid .task-type-7, html.theme-dark #mermaid .section-type-7 {
    fill: hsl(308, 1.5873015873%, 28.3529411765%);
}

html.theme-dark #mermaid :root {
    --mermaid-
}

/** State diagram */
html.theme-dark #mermaid defs #statediagram-barbEnd {
    fill: lightgrey;
    stroke: lightgrey;
}

html.theme-dark #mermaid g.stateGroup text {
    fill: #81B1DB;
    stroke: none;
}

html.theme-dark #mermaid g.stateGroup text {
    fill: #ccc;
    stroke: none;
}

html.theme-dark #mermaid g.stateGroup .state-title {
    font-weight: bolder;
    fill: #e0dfdf;
}

html.theme-dark #mermaid g.stateGroup rect {
    fill: #1f2020;
    stroke: #81B1DB;
}

html.theme-dark #mermaid g.stateGroup line {
    stroke: lightgrey;
    stroke-width: 1;
}

html.theme-dark #mermaid .transition {
    stroke: lightgrey;
    stroke-width: 1;
    fill: none;
}

html.theme-dark #mermaid .stateGroup .composit {
    fill: #333;
    border-bottom: 1px;
}

html.theme-dark #mermaid .stateGroup .alt-composit {
    fill: #e0e0e0;
    border-bottom: 1px;
}

html.theme-dark #mermaid .state-note {
    stroke: hsl(180, 0%, 18.3529411765%);
    fill: hsl(180, 1.5873015873%, 28.3529411765%);
}

html.theme-dark #mermaid .state-note text {
    fill: rgb(183.8476190475, 181.5523809523, 181.5523809523);
    stroke: none;
}

html.theme-dark #mermaid .stateLabel .box {
    stroke: none;
    stroke-width: 0;
    fill: #1f2020;
    opacity: 0.5;
}

html.theme-dark #mermaid .edgeLabel .label rect {
    fill: #1f2020;
    opacity: 0.5;
}

html.theme-dark #mermaid .edgeLabel .label text {
    fill: #ccc;
}

html.theme-dark #mermaid .label div .edgeLabel {
    color: #ccc;
}

html.theme-dark #mermaid .stateLabel text {
    fill: #e0dfdf;
    font-weight: bold;
}

html.theme-dark #mermaid .node circle.state-start {
    fill: #f4f4f4;
    stroke: #f4f4f4;
}

html.theme-dark #mermaid .node .fork-join {
    fill: #f4f4f4;
    stroke: #f4f4f4;
}

html.theme-dark #mermaid .node circle.state-end {
    fill: #cccccc;
    stroke: #333;
    stroke-width: 1.5;
}

html.theme-dark #mermaid .end-state-inner {
    fill: #333;
    stroke-width: 1.5;
}

html.theme-dark #mermaid .node rect {
    fill: #1f2020;
    stroke: #81B1DB;
    stroke-width: 1px;
}

html.theme-dark #mermaid .node polygon {
    fill: #1f2020;
    stroke: #81B1DB;
    stroke-width: 1px;
}

html.theme-dark #mermaid #statediagram-barbEnd {
    fill: lightgrey;
}

html.theme-dark #mermaid .statediagram-cluster rect {
    fill: #1f2020;
    stroke: #81B1DB;
    stroke-width: 1px;
}

html.theme-dark #mermaid .cluster-label, html.theme-dark #mermaid .nodeLabel {
    color: #e0dfdf;
}

html.theme-dark #mermaid .statediagram-cluster rect.outer {
    rx: 5px;
    ry: 5px;
}

html.theme-dark #mermaid .statediagram-state .divider {
    stroke: #81B1DB;
}

html.theme-dark #mermaid .statediagram-state .title-state {
    rx: 5px;
    ry: 5px;
}

html.theme-dark #mermaid .statediagram-cluster.statediagram-cluster .inner {
    fill: #333;
}

html.theme-dark #mermaid .statediagram-cluster.statediagram-cluster-alt .inner {
    fill: #555;
}

html.theme-dark #mermaid .statediagram-cluster .inner {
    rx: 0;
    ry: 0;
}

html.theme-dark #mermaid .statediagram-state rect.basic {
    rx: 5px;
    ry: 5px;
}

html.theme-dark #mermaid .statediagram-state rect.divider {
    stroke-dasharray: 10, 10;
    fill: #555;
}

html.theme-dark #mermaid .note-edge {
    stroke-dasharray: 5;
}

html.theme-dark #mermaid .statediagram-note rect {
    fill: hsl(180, 1.5873015873%, 28.3529411765%);
    stroke: hsl(180, 0%, 18.3529411765%);
    stroke-width: 1px;
    rx: 0;
    ry: 0;
}

html.theme-dark #mermaid .statediagram-note rect {
    fill: hsl(180, 1.5873015873%, 28.3529411765%);
    stroke: hsl(180, 0%, 18.3529411765%);
    stroke-width: 1px;
    rx: 0;
    ry: 0;
}

html.theme-dark #mermaid .statediagram-note text {
    fill: rgb(183.8476190475, 181.5523809523, 181.5523809523);
}

html.theme-dark #mermaid .statediagram-note .nodeLabel {
    color: rgb(183.8476190475, 181.5523809523, 181.5523809523);
}

html.theme-dark #mermaid .statediagram .edgeLabel {
    color: red;
}

html.theme-dark #mermaid #dependencyStart, html.theme-dark #mermaid #dependencyEnd {
    fill: lightgrey;
    stroke: lightgrey;
    stroke-width: 1;
}

html.theme-dark #mermaid :root {
    --mermaid-
}

/** Pie chart */
html.theme-dark #mermaid .pieCircle {
    filter: brightness(0.7);
}

html.theme-dark #mermaid[aria-roledescription=pie] .legend rect {
    filter: brightness(0.7);
}

html.theme-dark #mermaid .pieTitleText {
    text-anchor: middle;
    fill: hsl(28.5714285714, 17.3553719008%, 86.2745098039%);
}

html.theme-dark #mermaid .slice {
    fill: #222;
}

html.theme-dark #mermaid .legend text {
    fill: hsl(28.5714285714, 17.3553719008%, 86.2745098039%);
}

html.theme-dark #mermaid :root {
    --mermaid-
}

/** Requirements */
html.theme-dark #mermaid marker {
    fill: lightgrey;
    stroke: lightgrey;
}

html.theme-dark #mermaid marker.cross {
    stroke: lightgrey;
}

html.theme-dark #mermaid svg {
}

html.theme-dark #mermaid .reqBox {
    fill: #1f2020;
    fill-opacity: 100%;
    stroke: #cccccc;
    stroke-width: #cccccc;
}

html.theme-dark #mermaid .reqTitle, html.theme-dark #mermaid .reqLabel {
    fill: #e0dfdf;
}

html.theme-dark #mermaid .reqLabelBox {
    fill: hsl(180, 1.5873015873%, 28.3529411765%);
    fill-opacity: 100%;
}

html.theme-dark #mermaid .req-title-line {
    stroke: #cccccc;
    stroke-width: #cccccc;
}

html.theme-dark #mermaid .relationshipLine {
    stroke: lightgrey;
    stroke-width: 1;
}

html.theme-dark #mermaid .relationshipLabel {
    fill: lightgrey;
}

html.theme-dark #mermaid :root {
    --mermaid-
}

/** C4 system */
html.theme-dark #mermaid .person {
    stroke: calculated;
    fill: calculated;
}

html.theme-dark #mermaid[aria-roledescription=c4] rect {
    stroke: #ddd;
}

html.theme-dark #mermaid[aria-roledescription=c4] text {
    fill: #eee;
}

/** Mind map */
html.theme-dark #mermaid .section-root.mindmap-node {
    fill: #ccc;
}

html.theme-dark #mermaid .section-root.mindmap-node text {
    fill: black;
}

html.theme-dark #mermaid .mindmap-edges path, html.theme-dark #mermaid .mindmap-node {
    filter: hue-rotate(180deg) invert(0.9);
}

/** Timeline */
html.theme-dark #mermaid .timeline text tspan {
    fill: #eee;
}

html.theme-dark #mermaid .timeline-node path {
    fill: #222;
}
